*{
    margin:0;
    padding: 0;
}

#a{
    position: absolute;
    font-size: 100px;
    color: #fff;
    bottom:50px;
    width: 400px;
    height: 150px;
    border: 2px solid white;
    padding-top: 20px;
    box-sizing: border-box;
    padding-left: 60px;
    border-radius: 0px 90px 90px 0px;

}

#b{
    position: absolute;
    left:32%;
    border:2px solid white;
    width:700px;
    height:50px;
    font-size:30px;
    color: white;
    top:80px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;

}
